<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
			<!-- Widget -->
			<div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
				<!-- Logo START -->
				<a href="http://aloys.samplekorea.com/"> <img class="h-40px" src="../images/logo_aloys.png" alt="logo" width="135px"> </a>
			</div>
			
			<!-- Widget -->
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="text-center text-white">
					Copyrights ©2021 <a href="#" class="text-reset btn-link">(주)알로이스</a>. All rights reserved.
				</div>
			</div>
			
		</div>
	</div>
</footer>